<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/bootstrap.css">
        <link rel="stylesheet" href="/dataTables.bootstrap4.min.css">
    </head>
    <body>
        <script src="/jquery.js"></script>
        <script src="/jquery.dataTables.min.js"></script>
        <script src="/dataTables.bootstrap4.min.js"></script>
        <script src="/moment.min.js"></script>
        <script src="/Chart.min.js"></script>
        <div class="container">
            <hr>
            <button type="button" class="btn btn-primary" onclick="window.location.href='/csv'">Download CSV</button>
            <hr>
            <table id="data" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th>Voltage Reading</th>
                        <th>Current Reading</th>
                        <th>Temperature</th>
                        <th>Humidity</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i < data.length; i++) { %>
                    <tr>
                        <td><%= data[i].timestamp %></td>
                        <td><%= data[i].voltage %></td>
                        <td><%= data[i].current %></td>
                        <td><%= data[i].temperature %></td>
                        <td><%= data[i].humidity %></td>
                    </tr>
                    <% } %>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Timestamp</th>
                        <th>Voltage Reading</th>
                        <th>Current Reading</th>
                        <th>Temperature</th>
                        <th>Humidity</th>
                    </tr>
                </tfoot>
            </table>
            <hr>
            <center>
                <h2>Temperature</h2>
                <canvas id="dataChart" width="100%"></canvas>
                <hr>
                <h2>Humidity</h2>
                <canvas id="dataChart2" width="100%"></canvas>
                <hr>
                <h2>Voltage</h2>
                <canvas id="dataChart3" width="100%"></canvas>
                <hr>
                <h2>Current</h2>
                <canvas id="dataChart4" width="100%"></canvas>
            </center>
            <hr>
        </div>
        <script>
            $(document).ready(function() {
                $('#data').DataTable({
                    columnDefs:[{targets: 0, render: (data) => {
                        return moment(data).format("MMM DD YYYY, h:mm:ss a");
                    }}],
                    order: [[ 0, "desc" ]]
                });
            } );
        </script>
        <script>
            var chartColors = {
                red: 'rgba(255, 99, 132, 0.5)',
                orange: 'rgba(255, 159, 64, 0.5)',
                yellow: 'rgba(255, 205, 86, 0.5)',
                green: 'rgba(75, 192, 192, 0.5)',
                blue: 'rgba(54, 162, 235, 0.5)',
                purple: 'rgba(153, 102, 255, 0.5)',
                grey: 'rgba(231,233,237, 0.5)'
            }
            var rawData = <%- JSON.stringify(data) %>;
            var labels = rawData.map(function(e) {
                return new Date(e.timestamp);
            })
            var temperature = rawData.map(function(e) {
                return e.temperature;
            })
            var humidity = rawData.map(function(e) {
                return e.humidity;
            })
            var voltage = rawData.map(function(e) {
                return e.voltage;
            })
            var current = rawData.map(function(e) {
                return e.current;
            })
            
            var ctx = document.getElementById('dataChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        fill: false,
                        label: 'Temperature',
                        data: temperature,
                        backgroundColor: chartColors.blue
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: {
                                displayFormats: {
                                    quarter: 'MMM YYYY h:mm a'
                                }
                            },
                            distribution: 'linear'
                        }]
                    }
                }
            });
            var ctx2 = document.getElementById('dataChart2').getContext('2d');
            var myChart2 = new Chart(ctx2, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        fill: false,
                        label: 'Humidity',
                        data: humidity,
                        backgroundColor: chartColors.green
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: {
                                displayFormats: {
                                    quarter: 'MMM YYYY h:mm a'
                                }
                            },
                            distribution: 'linear'
                        }]
                    }
                }
            });
            var ctx3 = document.getElementById('dataChart3').getContext('2d');
            var myChart3 = new Chart(ctx3, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        fill: false,
                        label: 'Voltage',
                        data: voltage,
                        backgroundColor: chartColors.yellow
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: {
                                displayFormats: {
                                    quarter: 'MMM YYYY h:mm a'
                                }
                            },
                            distribution: 'linear'
                        }]
                    }
                }
            });
            var ctx4 = document.getElementById('dataChart4').getContext('2d');
            var myChart4 = new Chart(ctx4, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        fill: false,
                        label: 'Current',
                        data: current,
                        backgroundColor: chartColors.red
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: {
                                displayFormats: {
                                    quarter: 'MMM YYYY h:mm a'
                                }
                            },
                            distribution: 'linear'
                        }]
                    }
                }
            });
        </script>
    </body>
</html>
